@{
    ViewData["Title"] = "Основная страница";
}

<div class="text-center">
    <h1 class="display-4">Программа учета магазина</h1>
    <p>Здравствуйте.</p>

    <p>Сайт разработан в рамках курсового проекта. Выполнен студенткой Владимирского государственного университета Дадукиной Сабиной Алексеевной.</p>

    <p>
        Основной целью курсового проекта по разработке проммной информационной системы «Магазин одежды» является разработка подсистемы хранения данными для повышения оперативности и точности циркулирующей в магазине информации, сокращения времени на выполнение операций.
    </p>

    @*<p>
        @Html.ActionLink("Список товаров","Index","Product")
    </p>

    <p>
        @Html.ActionLink("Список магазинов","Index","Store")
    </p>

    <p>
        @Html.ActionLink("Смена ролей","Index","Roles")
    </p>

    <p>
        @Html.ActionLink("Заказы","Index","Order")
    </p>

    <p>
        @Html.ActionLink("Отчет о товарах","Index","Report")
    </p>

    <p>
        @Html.ActionLink("Отчет о сотрудниках","Index","ReportEmployee")
    </p>*@

    <img src="~/Foto/mag.jpg" alt="Sample Photo" />

</div>
