@{
    ViewData["Title"] = "Основная страница";
}

<div class="text-center">
    <h1 class="display-4">Здравствуйте</h1>
    <p>Сабина ты - МОЛОДЕЦ</a>.</p>

    <p>
        @Html.ActionLink("Список товаров","Index","Product")
    </p>

    <p>
        @Html.ActionLink("Список магазинов","Index","Store")
    </p>

    <p>
        @Html.ActionLink("Смена ролей","Index","Roles")
    </p>

    <p>
        @Html.ActionLink("Заказы","Index","Order")
    </p>

    <p>
        @Html.ActionLink("Отчет о товарах","Index","Report")
    </p>

    <p>
        @Html.ActionLink("Отчет о сотрудниках","Index","ReportEmployee")
    </p>




</div>
